body {
    background-color: #567A8C;

}

a {
    color: black;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 3px;
}
h1 {
    font-family: 'Archivo Black', sans-serif;
    margin: 0px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#map {
    height: 550px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#panel {
    width: 30%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}

.temporal-legend {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(166,176,176,0.8);
    padding: 12px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 180px;
    height: 100px;
    background-color: rgba(166,176,176,0.8);
    padding: 10px;
    line-height: 15px;
    text-align: center;
    border: solid gray 1px;
}

#temporal-legend {
    float: left;
}

.range-slider {
    width: 200px;
}
